@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");
.root {
  -fx-background-color: #1a2035;
  -fx-min-height: 800px;
  -fx-min-widht: 1200px;
  -fx-pref-height: 800px;
  -fx-pref-widht: 1200px;
  -fx-font-family: "Source Sans Pro", sans-serif;
}

.signin-label {
  -fx-font-family: "Source Sans Pro", sans-serif;
}

.input-field {
  -fx-background-color: -fx-text-box-border, -fx-background;
  -fx-background-insets: 0, 0 0 2 0;
  -fx-background-radius: 0;
  -fx-max-width: 500px;
  -fx-max-height: 20px;
}

.input-field:focused {
  -fx-background-color: -fx-focus-color, -fx-background;
}

.button {
  -fx-border-width: 2;
  -fx-background-color: #913f9e;
  -fx-background-radius: 10px;
  -fx-text-fill: #ffffff;
  -fx-cursor: hand;
}

.button:hover {
  -fx-background-color: #9b43a9;
}

.button:pressed {
  -fx-background-color: #9b43a9ab;
}
